In [2]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd

/home/ghaff/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [13]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [14]:
majors = [
    ['Engineering'],
    ['Math'],
    ['Chemistry']
]

In [15]:
encoder.fit(majors)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=True)

In [16]:
encoder.transform(majors).toarray()

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [17]:
encoder.categories_

[array(['Chemistry', 'Engineering', 'Math'], dtype=object)]

In [18]:
new_majors = [
    ['Media Studies'],
    ['Math'],
    ['Stats']
]

In [19]:
encoder.transform(new_majors).toarray()

array([[0., 0., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [20]:
students = pd.DataFrame({
    'StudentID' : [1,2,3,4,5,6],
    'Department' : ['Engineering', 'Science', 'Art', 'Engineering', 'Business','BA'],
    'Nationality' : ['Ghana', 'Nigeria', 'Nigeria', 'Nigeria', 'Egypt', 'Togo'],
    'Batch' : [2010, 2001, 2004, 2010, 2010, 2001]
})

In [21]:
students

   StudentID   Department Nationality  Batch
0          1  Engineering       Ghana   2010
1          2      Science     Nigeria   2001
2          3          Art     Nigeria   2004
3          4  Engineering     Nigeria   2010
4          5     Business       Egypt   2010
5          6           BA        Togo   2001

In [23]:
deptEncoder = OneHotEncoder()
deptTransformed = deptEncoder.fit_transform(students[['Department']])

In [24]:
deptTransformed.toarray()

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [26]:
deptEncoder.categories_

[array(['Art', 'BA', 'Business', 'Engineering', 'Science'], dtype=object)]

In [28]:
dept_df = pd.DataFrame(deptTransformed.toarray(), columns = deptEncoder.categories_, dtype=np.int)

In [29]:
dept_df

  Art BA Business Engineering Science
0   0  0        0           1       0
1   0  0        0           0       1
2   1  0        0           0       0
3   0  0        0           1       0
4   0  0        1           0       0
5   0  1        0           0       0